<h1>{{ product.id }}</h1>
<h1>{{ product.title }}</h1>
{% if product.image %}
  <img src='{{ product.image.url }}' width="200"/>
{% endif %} 

{% if product.video_link %}

<iframe width="260" height="315" src="https://www.youtube.com/embed/{{product.video_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endif %}

{% if product.content %}
 <p>{{ product.description }}</p>
{% endif %} 

{% if show_price %}
  <p>${{ product.price }}</p>
{% endif %}

{% if show_inventory %}
   <p>{{ product.inventory }}</p>
{% endif %}

